/* CSS para Posicionamento e Exibição de Elementos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.exemplo {
    background-color: palevioletred;
}

.inline {
    color: white;
    margin: 10px;
}

.inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;

}

.menu {
    background-color: plum;
}

.menu ul li {
    display: inline-block;
    padding: 20px 40px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.esconder-elemento{
    display: none;
}

#item-02{
    display: none;
}

#item-01{
    visibility: hidden;
}

.container{
    border: 1px solid red;
    text-align: center;
}

#img-01{
    height: 30px;
    vertical-align: top;
}

#item-04 {
    vertical-align: bottom;
}

#item-05 {
    vertical-align: middle;
}

